<%= @vendor.name %>
==================================

Order Number:</span> #<%= @order.id %>
Order Date:</span> <%= @order.created_at %>
Scheduled Date and Time:</span> ===TODO===
Address:</span> <%= @address.street_address %> <%= @address.city %>, <%= @address.zip_code %>
Service Total:</span> $<%= sprintf('%.2f', @order.price) %>

==================================
Thank you for booking, <%= @user.first_name %>!