<!DOCTYPE html>
<html>
  <head>
    <title>Servo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <% if logged_in? %>
    <form method="post" action=<%= session_url %>>
      <input type="hidden" name="_method" value="delete">
      <%= auth_token %>
      <input type="submit" value="logout">
    </form>
  <% end %>


  <header>
  <header>


  <body>
    <%= yield %>
  </body>
</html>
